@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .login-form-field {
        @apply flex flex-col gap-1;
    }

    .login-form-field input {
        @apply border-gray-300 border-[1px] rounded-sm w-full;
    }

    .category-search-section {
        @apply p-3
    }

    .category-search-section a {
        @apply hover:text-blue-600
    }

    .date-container {
        @apply flex flex-col gap-1
    }

    .date-container a {
        @apply text-[13px];
    }

    .contnet-description {
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 20;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .comment-form input {
        @apply border-gray-300 border-[1px] rounded-md outline-none;
    }

    .image-container {
        @apply w-[13rem] max-w-[15rem] h-[13rem] max-h-[15rem] bg-blue-300 border-gray-400 border-[3px];
    }

    .list-item {
        line-break: anywhere;
    }

    .dashboard-tab-button {
        @apply text-start px-3 w-full border-b-[1px] border-gray-600 py-3 hover:bg-gray-500 whitespace-nowrap;
    }

    .category-children-container {
        @apply flex flex-wrap gap-5 w-full flex-row justify-end sm:justify-between sm:flex-col ;
    }

    .dashboard-fields-row {
        @apply flex flex-row justify-start gap-[1rem];
    }

    .dashboard-fields-container {
        @apply w-full flex flex-col text-gray-500;
    }

    .dashboard-fields-container input {
        @apply w-full border-[1px] border-gray-400 rounded-sm p-1;
    }
    .responsive-profile{
        @apply  w-min m-auto gap-[6rem];
    }
    .search-with-select{
        transition: all ease-in-out 5s;
    }
}