@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-padding {
        @apply px-[5rem] medium:px-[1rem] sm:px-[1rem];
    }

    .footer-column-container {
        @apply w-[33%] sm:w-full;
    }

    .footer-column-title {
        @apply pb-5
    }

    .links-section a {
        @apply flex items-center hover:text-blue-600 z-20;
    }

    .content-description {
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .header-dropdown-menu {
        @apply text-white text-center sm:text-start sm:px-0 px-4 mx-3 my-2 sm:text-black;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 1rem;
        text-align: start;
        align-items: flex-start;
        width: 100%;
        background-color: white;
        text-align: start;
        /* left: 0; */
        z-index: 30;
        right: -100%;
        left: 0;
    }


    .header-container:focus .dropdown-menu {
        display: flex !important;
    }

    .dropdown-menu a {
        @apply sm:border-b-[1px] sm:border-b-gray-500 sm:w-full;
    }

    a.header-dropdown-menu {
        @apply hover:text-blue-300 sm:h-4 sm:w-full sm:border-none;
    }
}