@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-padding {
        @apply px-[5rem] sm:px-[1rem];
    }

    .footer-column-container {
        @apply w-[33%] sm:w-full;
    }

    .footer-column-title {
        @apply pb-5
    }

    .links-section a {
        @apply flex items-center hover:text-blue-600 z-20;
    }

    .content-description {
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .header-dropdown-menu {
        @apply text-white text-center px-4 mx-3 my-2;
    }

    a.header-dropdown-menu {
        @apply hover:text-blue-300
    }
}