:root {
    --footer-background: #363839;
    --copy-right-background: #1c1e21;
}

@font-face {
    font-family: vazirMatn;
    src: url('./assets/fonts/Vazirmatn-Medium.ttf');
}

#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: vazirMatn;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    padding: 1rem;

}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}