:root {
    --footer-background: #363839;
    --copy-right-background: #1c1e21;
}

@font-face {
    font-family: vazirMatn;
    src: url('./assets/fonts/Vazirmatn-Medium.ttf');
}

#root {
    font-family: vazirMatn;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    padding: 1rem;

}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}